body {
    width: 350px;
    height: 250px;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgb(159, 243, 25), rgb(242, 247, 241));
}

h1 {
    font-size: 16px;
}

button {
    margin-top: 20px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-1 {
    gap: 4px;
}